@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* custom colors  */
.custom-bg {
  background-color: #118a7e;
}

.custom-color {
  color: #118a7e;
}

.custom-main-bg {
  background-color: black;
}

.custom-secondary-bg {
  background-color: #282c33;
}

/* custom height  */
.custom-height {
  height: 100%;
  min-height: 90vh;
}

/* custom fonts */
.custom-font {
  font-family: "Kanit", sans-serif;
}

/* button design */
.button {
  --color: #118a7e;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid var(--color);
  font-family: inherit;
  text-transform: uppercase;
  z-index: 1;
  color: white;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
  border: 1px solid var(--color);
}

.button:active {
  border: 1px solid var(--color);
  filter: brightness(0.8);
}

@media (max-width: 600px) {
  .button {
    font-size: 13px;
  }
  .button::after {
    top: calc(100% + 2em);
  }
  .button::before {
    top: -1.5em;
    left: -1em;
  }
}

/* Theme Switcher */

.theme-checkbox {
  --toggle-size: 12px; /* Reduced font size */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 4em; /* Reduced width */
  height: 2em; /* Reduced height */
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #d3d2d2),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #d3d2d2 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #d3d2d2 50%, #2a2a2a 50%) no-repeat;
  background-size: 200%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 1.5em; /* Reduced size */
  height: 1.5em; /* Reduced size */
  position: absolute;
  top: 0.25em; /* Adjusted position */
  left: 0.25em; /* Adjusted position */
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #d3d2d2),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #d3d2d2 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #d3d2d2 50%, #2a2a2a 50%) no-repeat;
  background-size: 200%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 1.5em - 0.25em); /* Adjusted position */
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* End Theme Switcher */

/* Search Bar  */
.group {
  display: flex;
  line-height: 25px;
  align-items: center;
  position: relative;
}

.input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 40px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  border: 0;
  border-radius: 2px;
  background-color: #1f2125;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #1f2125, 0px 0px 25px -15px #000;
}

.input:active {
  box-shadow: 0 0 0 2.5px #1f2125, 0px 0px 25px -15px #000;
}

.input:focus {
  box-shadow: 0 0 0 2.5px #1f2125;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  z-index: 5;
}
/* End Search Bar  */

/* project management  */
.custom-hero-bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef6c35+48,f79621+71 */
  /* background: linear-gradient(
    to right,
    rgba(239, 108, 53, 1) 48%,
    rgba(247, 150, 33, 1) 71%
  ); W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(135deg, #118a7e, #0c4b5c);
}

.custom-hero-bg2 {
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* end project management  */

/* Custom scrollbar styles */
.scrollbar-custom {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #333 #f0f0f0; /* Scrollbar color and track color */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #333; /* Scrollbar color */
  border-radius: 4px; /* Rounded corners for the scrollbar */
}
